{% extends "layout.html" %}
{% block body %}
    <div class="title-container">
        <h2 class="my_titles">Best Way to Build Language Base</h2>
        <p class="paragraph_shape paragraph_with_space">On this platform, you have the opportunity to connect with individuals who have the language you wish to learn as their native tongue. By providing basic information, you can initiate conversations and assist them in their language learning process while also benefiting from their expertise in your own native language.</p>
    </div>
    <div class="container">
        <a href="/register" class="custom-button">Register for FREE</a>
    </div>
    <img class="my-image" src="static/learning.jpg" alt="Learning process">    
{% endblock %}