{% extends "layout.html" %}

{% block body %}
<form action="/" method="get">
    <input type="submit" value="Homepage" class="home_button">
</form>
<div class="header-of-joey">
    <h2>Match Didn't Find Yet</h2>
</div>
<div class="custom-content">
    <img src="static/joey.gif" alt="We are sad!" class="sadJoey">
    <div class="notFoundPara";>
        <p>&nbsp;&nbsp;We haven't found a match yet. We saved you into our database. Now you're open to be matched. If you have a match with somebody, your circumstance will be updated.
            You can come back and check any time for the situation.</p>
    </div>
</div>
{% endblock %}
